<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
  <img class="navbar-brand" src="../../assets/61st.png" alt="">
  <div class="">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="nav-link" routerLink="/recruitment" routerLinkActive="active">Recruitment</a>
      <a class="nav-link" routerLink="/billets" routerLinkActive="active">Billets</a>
      <a class="nav-link" routerLink="/calender" routerLinkActive="active">Calender</a>
      <a class="nav-link" routerLink="/shops" routerLinkActive="active">Shops</a>
      <a class="nav-link" routerLink="/quickrefrencedocuments" routerLinkActive="active">Quick Refrence Documents</a>
      <a class="nav-link" routerLink="/unitphotos" routerLinkActive="active">Unit Photos</a>
    </div>
  </div>
</nav>

<!-- <div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown</a>
  <div class="dropdown-menu">
    <a href="#" class="dropdown-item">Test</a>
  </div>
</div>  Dropdown Ex.-->
