<div class="nav23">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/recruitment" routerLinkActive="active">Recruitment</a>
    <a routerLink="/billets" routerLinkActive="active">Billets</a>
    <a routerLink="/calender" routerLinkActive="active">Calender</a>
    <a routerLink="/shops" routerLinkActive="active">Shops</a>
    <a routerLink="/quickrefrencedocuments" routerLinkActive="active">QRD</a>
    <a routerLink="/unitphotos" routerLinkActive="active">Unit Photos</a>
    <span class="filler"></span>
    <img src="../../assets/61st.png" alt="">
</div>