<div class="container text-center">
  <div class="row justify-content-center">
    <h1>Welcome to the 61st Cavalry Regiment (Arma 3)</h1>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h3>
      Feel free to suport us on
      <a
        (click)="click('https://www.patreon.com/61stcavreg', 'Patreon')"
        target="_blank"
        href="https://www.patreon.com/61stcavreg"
        >Patreon.</a
      >
    </h3>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>This week in the 61st:</h1>
    <div class="w-100 my-2"></div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="edit-img">
        <img
          [src]="CDN.getImage({ path: 'home/img_1.jpg', width: 1000 })"
          alt=""
          class="mx-auto"
        />
        <div class="edit" *ngIf="isLoggedIn | async">
          <button
            (click)="
              changeImg('img_1'.convert().capitalize(), 'home/img_1.jpg')
            "
          >
            <i class="material-icons">create</i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-100 my-3"></div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="edit-img">
        <img
          [src]="CDN.getImage({ path: 'home/img_2.jpg', width: 1000 })"
          alt=""
          class="mx-auto"
        />
        <div class="edit" *ngIf="isLoggedIn | async">
          <button
            (click)="
              changeImg('img_2'.convert().capitalize(), 'home/img_2.jpg')
            "
          >
            <i class="material-icons">create</i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-100 my-1"></div>
    <div class="text-center note">
      <p>
        Please note: All unit photos can be found in the
        <em>#Unit-Photos</em> channel on our
        <a
          (click)="click('https://discord.gg/R6mG2JKNxt', 'Discord')"
          href="https://discord.gg/R6mG2JKNxt"
          >Discord</a
        >.
      </p>
    </div>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center pb-5">
    <h2>
      <a
        (click)="
          click(
            'https://steamcommunity.com/sharedfiles/filedetails/?id=2449686446',
            'Modlist View'
          )
        "
        href="https://steamcommunity.com/sharedfiles/filedetails/?id=2449686446"
        target="_blank"
        >View</a
      >
      our modlist.
    </h2>
  </div>
  <div class="row justify-content-center bot">
    <p>
      For more information about the unit and our operations please refer to the
      rest of the website or our
      <a
        (click)="click('https://discord.gg/R6mG2JKNxt', 'Discord')"
        target="_blank"
        href="https://discord.gg/R6mG2JKNxt"
        >discord</a
      >!
    </p>
  </div>
</div>
