<!-- 99% of the text on this page is copy paste from current website. The only realy changed thing is the requirements. -->
<div class="container text-center">
  <div class="row justify-content-center">
    <h1>Recruitment</h1>
    <div class="w-100"></div>
    <p class="pl-3">
      The 61st Cavalry Regiment is an Army based, semi-realistic milsim unit. We
      utilize a combined arms approach focusing on mechanized infantry tactics
      in addition to air assault elements. As a community, we emphasize having a
      fun in-game experience through the use and application of an organized
      military structure. This unit has been created by an experienced group of
      Arma community members who have the knowledge and skills to support a
      well-functioning unit.
    </p>
  </div>

  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>BCT</h1>
    <div class="w-100"></div>
    <p class="pl-3">
      The first step in becoming a part of the 61st is to go through our Basic
      Combat Training course that will teach you the skills to succeed in an
      Arma Operation. To progress in and have access to all the different
      aspects of the 61st, you will need to pass the BCT. BCT is not meant to
      fail you in any way. Our BCT training structure is organized around a
      Final Test that will cover all aspects of what our unit expects of our
      members. Anyone who comes in wanting to take part in a teamwork-oriented
      experience will succeed in BCT and in the unit as a whole.
    </p>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>Detachments</h1>
    <p>
      To provide the fullest Arma 3 experience, the 61st maintains additional
      support detachments to work hand-in-hand with the main infantry element.
    </p>
    <div class="row justify-content-center">
      <h3>Orion</h3>
      <div class="w-100"></div>
      <p class="pl-3">
        Orion is our foundational Infantry detachment specializing in mechanized
        insertions and CQB. Every operation will have Orion members running so
        if you are looking for the more front lines feel in the battlefield,
        look no further than Orion.
      </p>
    </div>
    <div class="row justify-content-center">
      <h3>Phoenix</h3>
      <div class="w-100"></div>
      <p class="pl-3">
        Phoenix is our Army Aviation detachment. Their main prerogative is to
        assist all detachments on the field in any way possible. Phoenix
        utilizes the UH-60 Black Hawk and the CH-47 Chinook as their main
        methods of transportation. Phoenix also has access to the well known
        AH-64 Apache which specializes in fast and precise air strikes to
        eliminate enemy threats on the ground and in air.
      </p>
    </div>
    <div class="row justify-content-center">
      <h3>Perseus</h3>
      <div class="w-100"></div>
      <p class="pl-3">
        Perseus is our Army Medical Detachment. The main goal of an Arma medic
        on the field is to keep combat effectiveness among the squads as high as
        possible. The beauty of Perseus in the 61st Cavalry is that all Medics
        are trained to operate in both infantry capacities as well as in MEDEVAC
        situations. A Perseus Medic is versatile and one of the key roles needed
        to have a successful Arma operation.
      </p>
    </div>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>How We Operate</h1>
    <p class="pl-3">
      Drawing from the best practices in running a well-organized and enjoyable
      Arma unit, the 61st operates under a fixed COC. While in-game all members
      are expected to follow orders from their leadership to ensure every player
      on the field has the best experience possible. Outside of Arma, all
      community members are expected to show respect to their fellow players and
      to unit leadership who ensure a great gaming experience is available to
      everyone.
    </p>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>Scheduling</h1>
    <p class="pl-3">
      Weekly Official Operations take place every other Saturday at 7:00PM EST.
      These operations are created by a dedicated Mission Development Staff that
      work to provide the best tactical experience possible. Beyond the in-game
      experience, the Mission Development Staff also work to provide each
      official operation with a constantly evolving mission report that brings
      life to what is otherwise a “typical” Arma mission.These reports are
      maintained regularly and shape the in-game experience by tying players on
      the ground to the larger mission context in which they are operating. The
      main goal of official operations is to challenge the unit and push all
      members to work as a team., With every operation, our goal is to show how
      great the Arma experience can be when strong teamwork across an entire
      task force is put to practice. When we aren’t hosting an official
      operation, we use field training exercises (FTXs) to teach and practice
      different strategies and tactics to make all our members the best Arma
      players they can be.
    </p>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>Joining Requirements</h1>
    <div class="w-100"></div>
    <ul class="text-left">
      <li>16 years or older</li>
      <li>20 hours in ARMA 3</li>
      <li>Follow Unit Leadership decisions</li>
      <li>Be able to work cooperatively with people from all walks of life</li>
    </ul>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center">
    <h1>Once your in our TS</h1>
    <p class="pl-3">
      Join one of the "Recruitment Waiting room" channels under the recruitment
      section and wait for a recruiter to join the channel and begin your
      recruitment process. Please understand that recruiters are giving their
      free time to the unit so give them a chance to get to you!
    </p>
  </div>
  <div class="row beak"></div>
  <div class="row justify-content-center pt-3 pb-4">
    <!-- <a href=""><img style="width: 75px;" src="../../assets/ts_stacked_bluelight.png" alt=""></a>  TODO IDK What to do about ts link bc the server has password have to ask vulture-->
    <img
      style="width: 75px"
      src="../../assets/ts_stacked_bluelight.png"
      alt=""
    />
  </div>
</div>
