img {
  width: 1000px;
}

.note {
  margin-top: 10px;

  em {
    font-style: normal;
    background-color: #191919;
    border-radius: .3em;
    padding: 2px 4px;
  }
}

h1 {
  font-size: 2.3rem !important;
  text-align: center;
}

.bot {
  padding-bottom: 20px;
}

a {
  color: white;
  text-decoration: underline;

  &:hover {
    color: #007bff;
  }
}

.edit-img:hover .edit {
  opacity: 1;
  transition: all 0.5s;
}

.edit-img {
  position: relative;
}

.edit {
  padding: 8px 10.5px 7.5px 10.5px;
  position: absolute;
  top: -.5px;
  right: 27.5px;
  display: block;
  opacity: 0;
  z-index: 5;
  background-color: rgba($color: #191919, $alpha: .5);
  border-radius: 3px;

  button {
    border: 0;
    padding: 0;
    background: none;
    color: white;
  }
}