<nav class="navbar navbar-expand navbar-dark" role="navigation">
  <div class="">
    <div class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="./admin" routerLinkActive="active">Admin</a>
        <a class="nav-link" routerLink="./website" routerLinkActive="active">Website</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



<!-- <div class="modal" id="imgModal" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="model-body">
        <img id="img" src="{{imgUrl|async}}" class="shadow-lg rounded" width="1140" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeImg" tabindex="-1" aria-labelledby="changeImgLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeImgLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Something about changing images
        </p>
        <input type="file" name="" id="file-selector" accept=".jpg" (change)="fileSelector($event)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save" (click)="uploadFile($event)">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="changeVid">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeImgLabel">Change Featured Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <label for="vid">Youtube Video URL:</label>
          <div class="w-100"></div>
          <input type="text" class="form-control" name="vid" #vid>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Close</button>
          <button class="btn btn-secondary" type="button" (click)="changeVid(vid.value)">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
