<div class="container">
  <div class="row justify-content-center break" style="margin-bottom: 80px !important;">
    <h1 class="col-12 text-center">Billets</h1>
  </div>
  <div class="row justify-content-center break" style="min-height: 240px;">
    <div class="col-6 d-flex align-items-center">
      <img class="mx-auto" src="../../assets/inf.png" alt="">
    </div>
    <div class="row col-6 text-center justify-content-center">
      <h1>Army Infantry Orion Company</h1>
      <div class="w-100"></div>
      <p class="text-white-50">
        Our Infantry detachment is our main force in the field. If you are looking for the main combative
        positions in the field, this is where you will want to be. Infantry will be utilizing both Humvees as well
        as select MRAPS and the Strider as necessary. If you are interested in seeing some pictures from
        operations, click on the Picture to the left and you will see our Infantry in action. More information on
        the qualification an Infantryman may obtain will also be included.</p>
    </div>
  </div>
  <div class="row justify-content-center break" style="min-height: 240px;">
    <div class="col-6 d-flex align-items-center">
      <img src="../../assets/air.png" alt="" class="mx-auto w-50">
    </div>
    <div class="row col-6 text-center justify-content-center">
      <h1>Army Air Phoenix</h1>
      <div class="w-100"></div>
      <p class="text-white-50">
        Our Army Aviation is the main supporting element in the 61st utilizing Chinooks, Black Hawks, and Apaches to
        complete missions and support the Infantry movement. If you are looking to play a more supportive role, then
        look no further than our Army Aviation.</p>
    </div>
  </div>
  <div class="row break"></div>
  <div class="row justify-content-center break" style="min-height: 240px;">
    <div class="col-6 d-flex align-items-center">
      <img src="../../assets/med.png" alt="" class="mx-auto w-50">
    </div>
    <div class="row col-6 text-center justify-content-center">
      <h1>Army Medical Corps Perseus</h1>
      <div class="w-100"></div>
      <p class="text-white-50">
        The medic is everyone's best friend. This is a little different from having a medical qualification as there is
        being a qualed medic and being a slotted medic. A medics main job is to make sure the squad is at the Tip top
        combat effectiveness. The medic will also determine with a MEDEVAC is necessary.
      </p>
    </div>
  </div>
</div>
