<div class="container">
  <h1 class="text-center mb-3">Password Reset</h1>
  <div
    class="row justify-content-center"
    *ngIf="!state && form"
    @insertRemoveTrigger
  >
    <p class="w-100 text-center">
      Some paragragph about resetting your password
    </p>
    <form
      [formGroup]="emailForm"
      (ngSubmit)="submitHandler('email')"
      class="row justify-content-center"
    >
      <mat-form-field class="w-100">
        <input matInput required placeholder="Email" formControlName="email" />
        <mat-error
          *ngIf="email.invalid && email.touched && emailErrorMessage"
          >{{ emailErrorMessage }}</mat-error
        >
      </mat-form-field>
      <button mat-raised-button class="mt-2">Submit</button>
    </form>
  </div>
  <div
    class="row justify-content-center"
    *ngIf="stage == 'two'"
    @insertRemoveTrigger
  >
    <p class="w-100 text-center">
      Please check the provided email for a password reset link.
    </p>
  </div>
  <div class="row justify-content-center" *ngIf="state">
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="submitHandler('password')"
      class="row justify-content-center"
    >
      <mat-form-field class="w-100">
        <input
          matInput
          required
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <mat-error
          *ngIf="password.invalid && password.touched && passwordErrorMessage"
          >{{ passwordErrorMessage }}</mat-error
        >
      </mat-form-field>
      <button mat-raised-button class="mt-2">Submit</button>
    </form>
  </div>
</div>
