<div class="container">
  <div class="row justify-content-center break">
    <h1>61st Shops Login</h1>
    <div class="w-100"></div>
    <div class="d-flex align-items-center">
      <img class="w-50 mx-auto" src="../../assets/61st.png" alt="">
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <form>
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" #email class="form-control">
      </div>
      <div class="form-group">
        <label for="passwordIput">Password</label>
        <input type="password" name="" #pw class="form-control">
      </div>
      <button class="btn btn-primary w-100" type="button" (click)="login(email.value, pw.value)">Login</button>
      <div class="form-group">
        <label for="codeInput">Code</label>
        <input type="text" class="form-control" #code>
      </div>
      <button class="btn btn-primary w-100" type="button" (click)="register(email.value, pw.value, code.value)">Register</button>
    </form>
  </div>

</div>
