<div class="container">
  <h1 class="col-12 text-center mb-4">Website</h1>
  <div class="row justify-content-center">
    <div class="col-6 me-0 me-lg-2">
      <table class="table">
        <thead>
          <th scope="col">Position</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let img of imgs; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <button class="imgBtn" (click)="openImg(img)">
                <img [src]="img" style="height: 70px" alt="" />
              </button>
            </td>
            <td>
              <button
                class="btn btn-primary"
                (click)="
                  changeImg(
                    ('img_' + (i + 1)).convert().capitalize(),
                    'unit-photos/' + 'img_' + (i + 1) + '.jpg'
                  )
                "
              >
                Change Image
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center col-6">
      <h3>
        Latest Operation:
        <a
          *ngIf="unitPhotos"
          [href]="'https://youtu.be/' + unitPhotos.latestOperation"
          target="_blank"
          >https://youtu.be/{{ unitPhotos.latestOperation }}</a
        >
      </h3>
      <button
        mat-raised-button
        class=""
        data-toggle="modal"
        data-target="#changeVid"
      >
        Change Vid
      </button>
    </div>
  </div>
</div>
<!-- (click)="openImg(img)" -->
