/* You can add global styles to this file, and also import other style files */
$body-bg: #212121;
$body-color: white;
html {
  ::-webkit-scrollbar {
    display: none !important;
  }
  scrollbar-width: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  overflow-y: scroll;
  height: 100%;
  top: 70px;
  position: relative;
  scrollbar-width: none !important;
  padding-top: 10px;
}

.break {
  margin: 25px;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss'