
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Calvalry-Regiment-Website-primary: mat-palette($mat-grey, 100,50,200);
$Calvalry-Regiment-Website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Calvalry-Regiment-Website-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Calvalry-Regiment-Website-theme: mat-dark-theme((
  color: (
    primary: $Calvalry-Regiment-Website-primary,
    accent: $Calvalry-Regiment-Website-accent,
    warn: $Calvalry-Regiment-Website-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Calvalry-Regiment-Website-theme);

/* You can add global styles to this file, and also import other style files */
$body-bg: #212121;
$body-color: white;
$modal-content-bg: #212121;
$modal-header-border-color: #191919;
$modal-footer-border-color: #191919;
  
html {
  ::-webkit-scrollbar {
    display: none !important;
  }
  scrollbar-width: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  overflow-y: scroll;
  height: 100%;
  top: 70px;
  position: relative;
  scrollbar-width: none !important;
  padding-top: 10px;
}

.break {
  margin: 25px;
}



@import '../node_modules/bootstrap/scss/bootstrap.scss';





// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container.mat-snack-bar-container.warn {
  background: red !important;
}