<h2 mat-dialog-title>{{ data.img }}</h2>
<mat-dialog-content>
  <div class="dropzone" appDragNDrop (fileDropped)="onFileDropped($event)">
    <input
      type="file"
      #fileDropRef
      id="fileDropRef"
      (change)="fileBrowserHandler($event.target.files)"
      multiple
    />
    <i class="material-icons md-48"> cloud_upload </i>
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fireDropRef">Browse for file</label>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <mat-progress-bar
          mode="determinate"
          color="accent"
          [value]="file?.progress | async"
        ></mat-progress-bar>
      </div>
      <i class="material-icons" (click)="deleteFile(i)">delete</i>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="startUpload()">Save</button>
</mat-dialog-actions>
